body{
    margin: 0;
    font-family: Roboto;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.nav-bar{
    background-color: rgb(255, 230, 234);
    padding: 16px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-right{
    display: flex;
    align-items: center;
}

.logo{
    height: 100px;
    width: 100px;
}

.home-button, .project-button, .contact-button{
    margin-left: 30px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    text-decoration: none;
    color: black;
    
}

.contact-button{
    margin-right: 60px;
}

.home-button:visited, .project-button:visited, .contact-button:visited{
    text-decoration: none;
    color: black;
}

.title{
    margin: 50px;
    text-align: center;
    font-family: Libertinus Mono;
    font-size: 60px;
}

form{
    margin: 50px 130px;
}

.entries{
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 30px;
}

.input-field{
    font-size: 14px;
}

.input-text{
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
}

#fname, #lname{
    width: 550px;
}

#emailad{
    width: 1200px;
}

#msg{
    width: 1200px;
    overflow-y: auto;
    height: 80px;
    border: solid black 2px;
}

::placeholder{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

.submit-btn{
    margin-top: 20px;
    padding: 10px 30px;
    background-color: rgb(255, 230, 234);
    border-radius: 5px;
    text-align: center;
    font-size: medium;
}