body{
    margin: 0;
    font-family: Roboto;
}

a{
    text-decoration: none;
}

.nav-bar{
    background-color: rgb(255, 230, 234);
    padding: 16px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-right{
    display: flex;
    align-items: center;
}

.logo{
    height: 100px;
    width: 100px;
}

.home-button, .project-button, .contact-button{
    margin-left: 30px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    text-decoration: none;
    color: black;
    
}

.contact-button{
    margin-right: 60px;
}

.home-button:visited, .project-button:visited, .contact-button:visited{
    text-decoration: none;
    color: black;
}

.title{
    margin: 50px;
    align-items: center;
    text-align: center;
    font-family: Libertinus Mono;
    font-size: 60px;
}

.intro-grid{
    margin-top: 50px;
    display: grid;
    grid-template-areas: "intro-photo intro-para";
    margin-bottom: 50px;
}

.intro-para{
    margin-left: 50px;
    align-items: center;
    margin-top: 100px;
    margin: 80px;
}

.intro-photo{
    align-items: center;
    margin-left: 100px;
    border: solid black 2px;
}

.ext-info{
    color: blue;
}